In [2]:
import pandas as pd
import numpy as np 
import seaborn as sn
import matplotlib.pyplot as plt

In [3]:
# read and see red wine data
redwine=pd.read_csv('winequality/winequality-red.csv',sep=';')
redwine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
# read and see white wine data
whitewine=pd.read_csv('winequality/winequality-white.csv',sep=';')
whitewine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [5]:
# store color as a new variable and join
redwine['color']=[1]*redwine.shape[0]
whitewine['color']=[0]*whitewine.shape[0]
data=pd.concat([redwine,whitewine])

In [6]:
# get basic data statistics
data.describe().to_csv('Plots/EDA/SummaryStatistics.csv')

In [91]:
#Make some plots showing red vs white wine 
b=50
datr=data[data.color==1]
datw=data[data.color==0]

for i in [1,2,6]:
    plt.hist(datr[datr.columns[i]],bins=b,color='red',alpha=0.5,density=True)
    plt.hist(datw[datw.columns[i]],bins=b,color='green',alpha=0.5,density=True)
    plt.xlabel(datw.columns[i].capitalize())
    plt.ylabel('Normaliced frequency')
    plt.title('Frequency of '+datw.columns[i]+' in red and white wine')
    plt.savefig('Plots/EDA/FrequencyHist'+datw.columns[i].title().replace(' ','')+'.jpg',bbox_inches='tight',dpi=200)
    plt.clf()

In [23]:
# make and save a correlation matrix and its plot; first for both
corr_matrix = data.drop(['quality'],axis=1).corr()
corr_matrix = corr_matrix.where(np.tril(np.ones(corr_matrix.shape),-1).astype(bool))
corr_matrix = corr_matrix.iloc[1:,:-1]
corr_matrix.to_csv('Plots/CorrelationMatrixBoth.csv')
plt.figure(figsize = (10,10))
plt.title('Correlation matrix for Both wine types')
sn.heatmap(corr_matrix, annot=True)
plt.savefig('Plots/CorrelationMatrixBoth.jpg',bbox_inches='tight',dpi=120)
plt.clf()

#Now red wine
corr_matrixr = datr.drop(['quality','color'],axis=1).corr()
corr_matrixr = corr_matrixr.where(np.tril(np.ones(corr_matrixr.shape),-1).astype(bool))
corr_matrixr = corr_matrixr.iloc[1:,:-1]
corr_matrixr.to_csv('Plots/CorrelationMatrixRed.csv')
plt.figure(figsize = (10,10))
plt.title('Correlation matrix for red wine')
sn.heatmap(corr_matrixr, annot=True)
plt.savefig('Plots/CorrelationMatrixRed.jpg',bbox_inches='tight',dpi=120)
plt.clf()

#and white wine
corr_matrixw = datw.drop(['quality','color'],axis=1).corr()
corr_matrixw = corr_matrixw.where(np.tril(np.ones(corr_matrixw.shape),-1).astype(bool))
corr_matrixw = corr_matrixw.iloc[1:,:-1]
corr_matrixw.to_csv('Plots/CorrelationMatrixWhite.csv')
plt.figure(figsize = (10,10))
plt.title('Correlation matrix for white wine')
sn.heatmap(corr_matrixw, annot=True)
plt.savefig('Plots/CorrelationMatrixWhite.jpg',bbox_inches='tight',dpi=120)
plt.clf()

In [42]:
#Compare white and red matices
comp_matrix=np.absolute(np.array(corr_matrixr)-np.array(corr_matrixw))#/np.maximum(np.absolute(np.array(corr_matrixr)),np.absolute(np.array(corr_matrixw)))
# a choise was made here to not normalize feel free to uncoment the line fragment above to do so
comp_matrix=comp_matrix.round(2)
comp_matrix=pd.DataFrame(comp_matrix)
comp_matrix.index=corr_matrix.index[0:-1]
comp_matrix.columns=corr_matrix.columns[0:-1]
comp_matrix.to_csv('CorrelationMatrixComparison.csv')
plt.suptitle('Comparison of correlation matrices for white VS red wine')
plt.title('As the absolute value of the difference')
sn.heatmap(comp_matrix, annot=True)
plt.savefig('Plots/CorrelationMatrixComparison.jpg',bbox_inches='tight',dpi=120)
plt.clf()

In [43]:
comp_matrix

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
volatile acidity,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
citric acid,0.38,0.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
residual sugar,0.03,0.06,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chlorides,0.07,0.01,0.09,0.03,NaN,NaN,NaN,NaN,NaN,NaN
free sulfur dioxide,0.10,0.09,0.16,0.11,0.10,NaN,NaN,NaN,NaN,NaN
total sulfur dioxide,0.20,0.01,0.09,0.20,0.15,0.05,NaN,NaN,NaN,NaN
density,0.40,0.01,0.22,0.48,0.06,0.32,0.46,NaN,NaN,NaN
pH,0.26,0.27,0.38,0.11,0.17,0.07,0.07,0.25,NaN,NaN
sulphates,0.20,0.23,0.25,0.03,0.35,0.01,0.09,0.07,0.35,NaN
alcohol,0.06,0.27,0.19,0.49,0.14,0.18,0.24,0.28,0.08,0.11

In [38]:
corr_matrixw

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
volatile acidity,-0.022697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
citric acid,0.289181,-0.149472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
residual sugar,0.089021,0.064286,0.094212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chlorides,0.023086,0.070512,0.114364,0.088685,NaN,NaN,NaN,NaN,NaN,NaN
free sulfur dioxide,-0.049396,-0.097012,0.094077,0.299098,0.101392,NaN,NaN,NaN,NaN,NaN
total sulfur dioxide,0.091070,0.089261,0.121131,0.401439,0.198910,0.615501,NaN,NaN,NaN,NaN
density,0.265331,0.027114,0.149503,0.838966,0.257211,0.294210,0.529881,NaN,NaN,NaN
pH,-0.425858,-0.031915,-0.163748,-0.194133,-0.090439,-0.000618,0.002321,-0.093591,NaN,NaN
sulphates,-0.017143,-0.035728,0.062331,-0.026664,0.016763,0.059217,0.134562,0.074493,0.155951,NaN
alcohol,-0.120881,0.067718,-0.075729,-0.450631,-0.360189,-0.250104,-0.448892,-0.780138,0.121432,-0.017433

In [19]:
corr_matrix=corr_matrix.iloc[1:,:-1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
volatile acidity,-0.022697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
citric acid,0.289181,-0.149472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
residual sugar,0.089021,0.064286,0.094212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chlorides,0.023086,0.070512,0.114364,0.088685,NaN,NaN,NaN,NaN,NaN,NaN
free sulfur dioxide,-0.049396,-0.097012,0.094077,0.299098,0.101392,NaN,NaN,NaN,NaN,NaN
total sulfur dioxide,0.091070,0.089261,0.121131,0.401439,0.198910,0.615501,NaN,NaN,NaN,NaN
density,0.265331,0.027114,0.149503,0.838966,0.257211,0.294210,0.529881,NaN,NaN,NaN
pH,-0.425858,-0.031915,-0.163748,-0.194133,-0.090439,-0.000618,0.002321,-0.093591,NaN,NaN
sulphates,-0.017143,-0.035728,0.062331,-0.026664,0.016763,0.059217,0.134562,0.074493,0.155951,NaN
alcohol,-0.120881,0.067718,-0.075729,-0.450631,-0.360189,-0.250104,-0.448892,-0.780138,0.121432,-0.017433

In [ ]:
corr_matrix=corr_matrix.iloc[1:,:-1]

In [20]:
corr_matrix

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
fixed acidity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
volatile acidity,-0.022697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
citric acid,0.289181,-0.149472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
residual sugar,0.089021,0.064286,0.094212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chlorides,0.023086,0.070512,0.114364,0.088685,NaN,NaN,NaN,NaN,NaN,NaN,NaN
free sulfur dioxide,-0.049396,-0.097012,0.094077,0.299098,0.101392,NaN,NaN,NaN,NaN,NaN,NaN
total sulfur dioxide,0.091070,0.089261,0.121131,0.401439,0.198910,0.615501,NaN,NaN,NaN,NaN,NaN
density,0.265331,0.027114,0.149503,0.838966,0.257211,0.294210,0.529881,NaN,NaN,NaN,NaN
pH,-0.425858,-0.031915,-0.163748,-0.194133,-0.090439,-0.000618,0.002321,-0.093591,NaN,NaN,NaN
sulphates,-0.017143,-0.035728,0.062331,-0.026664,0.016763,0.059217,0.134562,0.074493,0.155951,NaN,NaN
alcohol,-0.120881,0.067718,-0.075729,-0.450631,-0.360189,-0.250104,-0.448892,-0.780138,0.121432,-0.017433,NaN

In [ ]:
import statsmodels.api as sm
model = sm.OLS(data.drop,X)
model = model.fit()
model.summary2()

In [113]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>  quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.